<settings>
  <servers>
    <server>
      <id>OSSRH</id>
      <username>JIRA_SONARTYPE_ID</username>
      <password>JIRA_SONARTYPE_PWD</password>
    </server>
  </servers>
   <profiles>
    <profile>
      <id>OSSRH</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>GPG_PASSWORD</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>