<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${{env.JIRA_SONARTYPE_ID}}</username>
      <password>${{env.JIRA_SONARTYPE_PWD}}</password>
    </server>
  </servers>
   <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>${{env.GPG_PASSWORD}}</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
